@import '../../../../__shared//ui//theme/theme.less';



.sidebar-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 100vh;

    .lettersListButton {
        border: none;
        width: 300px;
        height: 42px;
        margin-left: 5px;
        margin-top: 10px;
        padding: 10px 10px 10px 10px;
        background-color: var(--color-primary);
        color: var(--color-text-on-background-strong);
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: var(--color-primary-hover);
        }
    }
    .make-new-folder {
        margin-top: 40px;
        cursor: pointer;
        display: flex;
        border-radius: 5px;
        padding: 10px;
        line-height: 20px;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--color-text-on-background-mute);
        &:hover {
            background-color: var(--color-background-hover);
            color: var(--color-text-on-background-strong);
        }
        span {
            margin-left: 5px;
        }
    }

    .folders-list {

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;


    .folder-item {
        cursor: pointer;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        list-style-type: none;
        padding-left: 20px;
        line-height: 40px;
        font-size: 15px;
        font-weight: 400;
        color: var(--color-text-on-background-mute);
        &:hover {
            background-color: var(--color-background-hover);
            color: var(--color-text-on-background-strong);
        }
        .liner {
            display: inline-block;
            border-left: 1px solid;
            width: 40px;
            border-color: var(--color-text-on-background-mute);
        }
        .name {
            display: inline-block;
        }
        // :hover {
        //     color: var(--color-text-on-background-strong); 
        // }
    }
    .hovered {
        background-color: var(--color-panel);
        //color: var(--color-text-on-background-strong);
    }
    .dragging {
        //display: none;
        color: var(--color-text-on-background-strong);
    }
}
}